* {
    margin: 0px;
    padding: 0px;
}

main {
    font-size: 0;
    min-width: 1226px;
    text-align: center;
    box-sizing: border-box;
    position: relative;
}

.viewpager-box {
    width: 1226px;
    height: 460px;
    min-width: 1226px;
    margin: auto;
    xdisplay: inline-block;
    overflow: hidden;
    position: relative;
    /* font-size: 14px;
    xwidth: 1226px;
    height: 170px;
    margin: 15px 0 25px 0;
    text-align: center;
    display: inline-block; */
}

aside {
    color: #fff;
    background: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    width: 230px;
    height: 460px;
    display: inline-block;
    float: left;
    z-index: 1;
    left: 0;
    position: absolute;
}

.aside-list {
    padding: 20px 0 20px 0;
    width: 100%;
    height: 420px;
    list-style: none;
}

.aside-list>li {
    width: 100%;
    height: 10%;
}

.aside-list-box {
    width: 100%;
    height: 100%;
}

.aside-list-box a {
    text-align: left;
    display: block;
    padding-left: 30px;
    height: 42px;
    line-height: 42px;
    color: #fff;
}

.aside-list i {
    line-height: 42px;
    padding-right: 20px;
    float: right;
}

.aside-list-box:hover {
    background: #FF6700;
}

.aside-list2 {
    position: absolute;
    left: 230px;
    top: 0;
    font-size: 0;
    display: inline-block;
    list-style-type: none;
    background-color: red;
    width: 996px;
    height: 460px;
    box-sizing: border-box;
    border: 1px solid #e0e0e0;
    background: #ffffff;
    z-index: 2;
    display: none;
}

.aside-list-box:hover~.aside-list2 {
    display: block;
}

.aside-list2:hover {
    display: block;
}

.aside-list2 li {
    font-size: 14px;
    width: calc(100% / 4);
    height: calc(100% / 6);
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
}

.list2-box img {
    float: left;
    display: inline-block;
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    margin: 20px 0 20px 20px;
}

.list2-box a {
    position: relative;
    left: -10px;
    float: left;
    display: inline-block;
    text-align: left;
    line-height: 40px;
    padding: 18px 20px;
    color: black;
}

.viewpager {
    position: relative;
    left: 0px;
    top: 0px;
    width: 1226px;
    height: 460px;
    z-index: 0;
    display: inline-block;
    overflow: hidden;
}

.viewpager img {
    width: 1226px;
    height: 100%;
    position: absolute;
    left: 0;
    display: inline-block;
    opacity: 0;
    visibility: hidden;
}

.viewpager input[type="radio"] {
    display: none;
}

.label-group {
    width: 100px;
    height: 20px;
    position: absolute;
    right: 35px;
    bottom: 20px;
    text-align: center;
}

.viewpager>label {
    position: relative;
    z-index: 1;
    right: -530px;
    bottom: -425px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid rgb(139, 145, 149);
    background: rgba(129, 140, 146, 0.6);
    box-sizing: border-box;
    display: inline-block;
    margin-left: 10px;
}

.viewpager>label:hover {
    /* background: rgba(129, 140, 146, 1); */
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.6)
}

.viewpager input:nth-child(n):checked+label {
    /* background: rgba(129, 140, 146, 0.6); */
    background-color: rgba(255, 255, 255, 0.6)
}

.viewpager input:nth-of-type(1):checked~.p1 {
    opacity: 1;
    transition: 1s;
    visibility: visible;
}

.viewpager input:nth-of-type(2):checked~.p2 {
    opacity: 1;
    transition: 1s;
    visibility: visible;
}

.viewpager input:nth-of-type(3):checked~.p3 {
    opacity: 1;
    transition: 1s;
    visibility: visible;
}

.viewpager input:nth-of-type(4):checked~.p4 {
    opacity: 1;
    transition: 1s;
    visibility: visible;
}

.viewpager input:nth-of-type(5):checked~.p5 {
    opacity: 1;
    transition: 1s;
    visibility: visible;
}

#left label, #right label {
    display: none;
}

/* left按钮选择器 */

.viewpager input:nth-of-type(1):checked~#left label:nth-child(5) {
    display: block;
}

.viewpager input:nth-of-type(5):checked~#left label:nth-child(4) {
    display: block;
}

.viewpager input:nth-of-type(4):checked~#left label:nth-child(3) {
    display: block;
}

.viewpager input:nth-of-type(3):checked~#left label:nth-child(2) {
    display: block;
}

.viewpager input:nth-of-type(2):checked~#left label:nth-child(1) {
    display: block;
}

/* right按钮选择器 */

.viewpager input:nth-of-type(1):checked~#right label:nth-child(2) {
    display: block;
}

.viewpager input:nth-of-type(2):checked~#right label:nth-child(3) {
    display: block;
}

.viewpager input:nth-of-type(3):checked~#right label:nth-child(4) {
    display: block;
}

.viewpager input:nth-of-type(4):checked~#right label:nth-child(5) {
    display: block;
}

.viewpager input:nth-of-type(5):checked~#right label:nth-child(1) {
    display: block;
}

#left {
    font-size: 40px;
    z-index: 1;
    position: absolute;
    display: inline-block;
    width: 40px;
    height: 70px;
    left: 235px;
    top: 200px;
    padding-top: 5px;
    background: rgba(0, 0, 0, 0);
    border: 0;
    border-radius: 0;
    color: #D5D5D5;
}

#right {
    font-size: 40px;
    text-align: center;
    position: absolute;
    z-index: 1;
    display: inline-block;
    width: 40px;
    height: 70px;
    right: 12px;
    top: 200px;
    padding-top: 5px;
    background: rgba(0, 0, 0, 0);
    color: #D5D5D5;
}

#right i, #left i {
    font-size: 30px;
}

#left:hover, #right:hover {
    background: rgba(0, 0, 0, 0.6);
}

/* 产品广告栏Product-adbar */

.Product-adbar {
    font-size: 14px;
    xwidth: 1226px;
    height: 170px;
    margin: 15px 0 25px 0;
    text-align: center;
    display: inline-block;
}

/* 用户工具栏 */

.user-tools {
    width: 230px;
    height: 100%;
    display: inline-block;
    float: left;
    background: #5F5750;
}

.user-tools>span {
    float: left;
    margin: 0;
    width: calc(100% / 3);
    height: 50%;
    display: inline-block;
    padding: 10px;
    box-sizing: border-box;
}

.user-tools a {
    cursor: pointer;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.7);
}

.user-tools a:hover {
    color: rgba(255, 255, 255, 1)
}

/* 三个广告 */

.Product-adbar #ad1, #ad2, #ad3 {
    float: left;
    margin: 0;
    height: 100%;
    width: 316px;
    display: inline-block;
    margin-left: 15px;
    background-size: 100%;
}

#ad1 {
    background-image: url(https://i1.mifile.cn/a4/xmad_1559319039848_CQefl.jpg);
}

#ad2 {
    background-image: url(https://i1.mifile.cn/a4/xmad_15589747473883_mCjDP.jpg);
}

#ad3 {
    background-image: url(https://i1.mifile.cn/a4/xmad_15591870612933_eyMJK.jpg);
}

/* 横幅广告 */

.Banner-ad {
    xwidth: 1226px;
    height: 120px;
    margin: auto auto 45px auto;
    display: inline-block;
}

.Banner-ad img {
    width: 1226px;
    height: 120px;
}

/* 鼠标下拉页 */

.page-main {
    min-width: 1226px;
    position: relative;
    background-color: #F5F5F5;
    padding-top: 32px;
}

/*用一个盒子来装内容*/

.phone {
    background-color: #F5F5F5;
    position: relative;
}

/*下拉页标题*/

.page-title {
    width: 1226px;
    height: 58px;
    margin: auto;
    position: relative;
}

.page-title h2 {
    margin: 0;
    font-size: 22px;
    font-weight: 200;
    line-height: 58px;
    color: #333;
    float: left;
    display: inline-block
}

.page-title .more {
    float: right;
    width: 92px;
    height: 100%;
    display: inline-block;
}

.more a {
    font-size: 16px;
    line-height: 58px;
    color: #424242;
    -webkit-transition: all .4s;
    transition: all .4s;
}

.more a:hover {
    color: #FF6700;
}

.phone {
    width: 1226px;
    margin: auto;
    display: inline-block;
    overflow: hidden;
}

.phone-adbox {
    float: left;
}

.phone-ad img {
    width: 234px;
    height: 621px;
}

.phone-box {
    width: calc(1226px - 234px);
    height: 628px;
    float: right;
}

.phone-ul {}

.phone-ul li {
    xfloat: left;
    width: 234px;
    xheight: 300px;
    margin-left: 14px;
    margin-bottom: 14px;
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    padding: 20px 0 20px 0;
}

.flagstate {
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 2;
    width: 64px;
    height: 20px;
    margin-left: -32px;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    color: #fff;
    display: inline-block;
}

.flagstate.new {
    background-color: #83c44e;
}

.flagstate.old {
    background-color: #E53935;
}

.phone-ul a img {
    width: 160px;
    height: 160px;
    margin-top: -20px;
    display: inline-block;
}

.phone-ul a {
    font-size: 14px;
    width: 214px;
    height: 20px;
    margin-top: 20px;
    display: inline-block;
}

.desc {
    margin: 0 10px 10px;
    height: 18px;
    font-size: 12px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #b0b0b0;
}

.phone-price {
    font-size: 14px;
    text-align: center;
    color: #ff6700;
    margin: 0 10px 14px;
}

.page-main ul li {
    background-color: #FFFFFF;
    transition: 0.3s;
}

<<<<<<< HEAD
.page-main ul li:hover {
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    transform: translate3d(0,-2px,0);
}

.page-ad {
    margin-left: auto;
    margin-right: auto;
    margin: 28px 0 22px;
    xtext-align: center;
    display: inline-block;
}

.page-ad img {
    width: 1226px;
    height: 120px;
}

.title-kind {
    position: absolute;
    top: 0;
    right: 0;
}

.title-kind ul {
    margin: 0;
    padding: 16px 0 0;
    list-style-type: none;
    font-size: 16px;
}

.title-kind ul li {
    background-color: #f5f5f5;
    color: black;
    margin: 0;
    margin-left: 30px;
    display: inline-block;
}
.title-kind ul li:hover{
    box-shadow: none;
}

.title-kind a {
    color: black;
}

.title-kind a:hover {
    transition: all 0.3s;
    color: #FF6700;
    border-bottom: 2px solid #FF6700;
}
.page-commodity {
    background-color: #F5F5F5;
    position: relative;
}